.gradient-btn{
  .btn(@sec-black; @primary-white);
}

.gradient-btn:first-child{
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

.gradient-btn:last-child{
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}

.selected{
  background-color: #0E0056;
}

.fixed-btn{
  position: fixed;
  bottom: 0;
  width: 12em;
  height: 2em;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  .bottom-center(-6em);
}

.fixed-btn button{
  .btn(@sec-lavender; @tp);
}

.fixed-btn button:hover{
  border: 2px solid #554B71;
  background-color: #24252E;
}

.fixed-btn p{
  padding: 0.25em;
  color: #ffffff
}