.gradient-btn{
  .btn(@tp; @sec-white; 6em; 2em);
}

.gradient-btn:first-child{
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
}

.gradient-btn:last-child{
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}

.selected{
  background-color: @sec-black;
  color: @primary-white;
}

.fixed-btn{
  position: fixed;
  bottom: 0;
  width: 12em;
  height: 2em;
  padding: 1em;
  justify-content: center;
  align-items: center;
  color: @primary-white;
  .bottom-center(-6em);

  @media screen and (max-width: 450px){
    padding: 0;
  }
}

.fixed-btn button{
  .btn(@sec-purple; @sec-white; 8em; 2em);
  border-radius: 1em;
}

button:hover, label:hover{
  border: 2px solid @tp;
  background-color: @sec-white;
  color: @primary-black;
}

.fixed-btn p{
  padding: 0.25em;
  color: black;
}

.upload-btn{
  .btn(@tp; @sec-white; auto; 2em);
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 0 0.25em 0 0.25em;
  box-sizing: unset;
}

.btn-cont{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  p{
    margin: 0 1em 0 0;
    color: @primary-white;
  }
}