.circle{
  height: 4.5em;
  width: 4.5em;
  border-radius: 4.5em;
  background-color: @tp;
  border: 2px solid @sec-white;
  padding: 1em;
  box-sizing: border-box;
  .flex-center(center);
}

.deg-picker{
  .flex-center(center);
}

.circle .stick{
  height: 5.25em;
  width: 10px;
  background-color: transparent;
  position: absolute;
}

.stick .dot{
  width: 15px;
  height: 15px;
  background-color: @sec-white;
  position: absolute;
  border-radius: 15px;
  margin: 0;
}

.deg-input{
  background-color: @tp;
  border: none;
  border-bottom: 2px solid @sec-white;
  height: 2em;
  width: 3em;
  position: absolute;
  color: @primary-white;
}