@primary-black: #060b19;
@primary-purple: #2900e6;
@primary-white: #e2e2e2;

@sec-white: #7c7b8a;
@sec-black: #24252E;
@sec-gray: #373946;
@sec-purple: #0E0056;
@sec-lavender: #554B71;
@tp: transparent;

@code-prop: #b778b1;
@code-val: #847f9e;

@grad-dark: #131528;
@grad-light: #1f222e;