.btn(@clr, @bdr){
  background-color: @clr;
  border: 2px solid @bdr;
  height: 3em;
  width: 6em;
  border-radius: 1em;
  color: #ffffff;
}

.bottom-center(@r){
  left: 50%;
  margin-left: @r;
}

.flex-mix(@dir, @jc, @ac){
  display: flex;
  flex-direction: @dir;
  justify-content: @jc;
  align-content: @ac;
  flex-wrap: wrap;
}